html
    head
        tittle Ingreso de productos
    body 
        form( method= 'GET' action="/products" name= 'addProd') 
            table 
                tr 
                    td Producto 
                    td 
                        input(type="text" name='producto' size='30')
                tr 
                    td Precio 
                    td 
                        input(type="number" name='price' size='30')
                tr 
                td Foto 
                    td 
                        input(type="text" name='thumbnail' size='70')
                tr 
                    td  
                        button(type="submit" method="POST" class="btn btn-success") Agrega
                    td 
                        a(href="/productos") Mira la lista de productos 

