<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form con handlebars</title>
</head>
<body>
    <div>
    <form > 
        <label for="fname"> id:</label>
        <input type="int" id="id" name="id"><br><br>
        <label for="tittle"> tittle:</label>
        <input type="text" id="tittle" name="tittle"><br><br>
        <label for="price"> price:</label>
        <input type="text" id="price" name="price"><br><br>
        <label for="thumnail"> thumnail:</label>
        <input type="placeholder" id="thumnail" name="thumnail"><br><br>
        <input type="submit" value="Submit">
        <input type="submit" formtarget="http://localhost:8080/api/productos" value="Submit to a new window/tab">
    </form>
    </div>
    <script>
        //view
        const view = {id, tittle, price, thumnail};
        
        //model
        const productos= {
            id: 1,
            tittle: "probando",
            price: 1000,
            thumnail: "noentiendonada.com"
        }

        //controller
        
        const controller = Handlebars.compile(view);

        const htmlHb = controller(productos);


        document.querySelector('div').innerHTML = htmlHb; 


    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js" integrity="sha512-RNLkV3d+aLtfcpEyFG8jRbnWHxUqVZozacROI4J2F1sTaDqo1dPQYs01OMi1t1w9Y2FdbSCDSQ2ZVdAC8bzgAg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>


  
  