<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Productos Cargados</title>
</head>
<body>
      <h1>Productos cargados</h1>

      <table>
        <tr>
        <td><strong>Producto</strong></td>
        <td><strong>Precio</strong></td>
        <td><strong>foto</strong></td>
        </tr>
      </table>
      <button type="button" class="btn btn-info" onclick="window.location.href='/'">Seguir comprando</button>


</body>
</html>