doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Productos Cargados
main.container(role='main')
  h1.mt-5 Productos
  table.table.table-dark
    thead
      tr
        th(scope='col') Nombre
        th(scope='col') Precio
        th(scope='col') url
    tbody
      | {{#each productos}}
      tr
        th(scope='col') {{this.id}}
        th(scope='col') {{this.price}}
        th(scope='col') {{this.precio}}
        th(scope='col') {{this.tumbnail}}
      |           {{/each}}
